In [ ]:
#Basic Pandas Analysis Questions (1–15)

In [31]:
#1. Load the dataset into a pandas DataFrame and display the first and last 5 rows.
import pandas as pd

df = pd.read_csv(
    r"C:\Users\dell\Downloads\collage library data track .xlsx - collage_librar (2).csv",
    header=None,
    engine="python"
)

df = df.iloc[2:].reset_index(drop=True)

df.columns = [
    "DATE of joining library",
    "Name of Student",
    "Department",
    "Year of study",
    "Book Genre",
    "Library Membership Type",
    "Borrow Status",
    "Books Borrowed Per Month",
    "Days Kept Books",
    "Fine Paid (₹)",
    "Study Hours Per Week",
    "Library Visits Per Week",
    "Extra1", "Extra2", "Extra3", "Extra4", "Extra5"
]

df = df.drop(columns=["Extra1", "Extra2", "Extra3", "Extra4", "Extra5"])

df.head()

,DATE of joining library,Name of Student,Department,Year of study,Book Genre,Library Membership Type,Borrow Status,Books Borrowed Per Month,Days Kept Books,Fine Paid (₹),Study Hours Per Week,Library Visits Per Week
0,DATE of joing library,Name of Student (Full Name),Department,Year of study,Book Genre You Usually Read\n,Library Membership Type\n,Borrow Status,Number of Books you Borrowed in a month (e.g. ...,How Many Days You Kept the Books ?\n,Fine Paid (₹)\n,Your Average Study Hours in Library Per Week\n,How many times you visit library in a week?
1,1/4/2025,Yash surve,Bsc cs,SY,Academic / Educational,Standard,Returned,1–2,4–7 days,0,3–5 hours,2–3 times
2,10/10/2025,sanika gole,bsc cs,SY,Self-help / Motivational,Premium,Overdue,1–3,8–14 days,100,3–5 hours,2–3 times
3,1/5/2025,saniya koli,bsc it,TY,Historical,Standard,NaN,1–4,0–3 days,0,0–2 hours,4–5 times
4,12/10/2025,Kalpana irle,bca,FY,Historical,Standard,Overdue,1–5,0–3 days,150,9+ hours,6+ times

In [35]:
#2. Convert DATE of joining library column into proper datetime format.
df["DATE of joining library"] = pd.to_datetime(
    df["DATE of joining library"],
    errors="coerce"
)

df.dtypes

C:\Users\dell\AppData\Local\Temp\ipykernel_23208\3395237024.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["DATE of joining library"] = pd.to_datetime(

DATE of joining library     datetime64[ns]
Name of Student                     object
Department                          object
Year of study                       object
Book Genre                          object
Library Membership Type             object
Borrow Status                       object
Books Borrowed Per Month            object
Days Kept Books                     object
Fine Paid (₹)                       object
Study Hours Per Week                object
Library Visits Per Week             object
dtype: object

In [37]:
#3. Count how many students are from each Department.
df["Department"].value_counts()

Department
Bcom                 12
Bms                  10
Baf                   8
Bsc it                8
Bsc cs                7
Bca                   6
Commerce              4
Bsc it                4
Bsc                   4
bca                   3
Bmmc                  3
Biotechnology         2
Science               2
Arts                  2
Computer science      2
Physiology            2
baf                   2
bsc cs                1
Bsc                   1
Nursing               1
Economics             1
Bcs it                1
Bcs cs                1
Ba                    1
Bmmc                  1
Bsc cs                1
 psychology           1
bsc cs                1
bms                   1
bsc it                1
Chemistry             1
Manegement            1
Economic              1
Architecture          1
Abc                   1
bsc                   1
Department            1
Name: count, dtype: int64

In [45]:
#4. Find the total number of students in the dataset.
df.shape[0]

110

In [49]:
#5. Count how many students belong to each Year of Study (FY, SY, TY).
df["year_of_study"].value_counts()

year_of_study
SY               41
TY               32
FY               25
Other             2
Year of study     1
Name: count, dtype: int64

In [51]:
#6.  Display all data for students who have Premium Membership.
df[df["library_membership_type"] == "Premium"]

,date_of_joining_library,name_of_student,department,year_of_study,book_genre,library_membership_type,borrow_status,books_borrowed_per_month,days_kept_books,fine_paid_rs,study_hours_per_week,library_visits_per_week,date_of_joining_library
2,2025-10-10,sanika gole,bsc cs,SY,Self-help / Motivational,Premium,Overdue,1–3,8–14 days,100,3–5 hours,2–3 times,2025-10-10
6,2025-03-28,Omkar shinde,Bsc it,SY,Fiction,Premium,Returned,3–4,15+ days,0,3–5 hours,4–5 times,2025-03-28
7,2025-01-19,Rutika pawar,Bsc it,SY,Academic / Educational,Premium,Overdue,3–4,4–7 days,100,6–8 hours,0–1 times,2025-01-19
8,2025-07-15,Sonali yewale,Baf,SY,Academic / Educational,Premium,Overdue,5–6,8–14 days,150,9+ hours,2–3 times,2025-07-15
10,2025-11-30,Sushant lohar,Bca,FY,Academic / Educational,Premium,Overdue,5–6,8–14 days,200,6–8 hours,2–3 times,2025-11-30
11,2025-08-16,sakshi mhatre,bca,SY,Self-help / Motivational,Premium,Overdue,5–6,4–7 days,200,6–8 hours,2–3 times,2025-08-16
12,2025-11-08,Vedika sonawane,Baf,TY,Fiction,Premium,Overdue,5–6,4–7 days,150,6–8 hours,4–5 times,2025-11-08
13,2025-06-26,Xyz,Abc,Other,Other,Premium,NaN,7+,15+ days,100,9+ hours,6+ times,2025-06-26
14,2025-10-12,Farhan shaikh,Bsc it,FY,Self-help / Motivational,Premium,Overdue,3–4,8–14 days,150,6–8 hours,2–3 times,2025-10-12
18,2025-11-02,karan shinde,baf,FY,Fiction,Premium,Returned,3–4,4–7 days,0,6–8 hours,0–1 times,2025-11-02
19,2025-06-30,neha kaur,bms,TY,Self-help / Motivational,Premium,Overdue,1–2,4–7 days,100,3–5 hours,2–3 times,2025-06-30
21,2025-07-03,Sudarshan chakra,Bcom,FY,Biography / Autobiography,Premium,Overdue,1–2,8–14 days,150,3–5 hours,0–1 times,2025-07-03
23,2025-04-20,Jyoti shinde,Bsc it,SY,Historical,Premium,Overdue,5–6,0–3 days,100,3–5 hours,2–3 times,2025-04-20
25,2025-02-23,Bhumi shinde,Bcom,TY,Self-help / Motivational,Premium,Overdue,1–2,8–14 days,200,3–5 hours,0–1 times,2025-02-23
28,2025-12-25,Vishal pashte,Bsc cs,SY,Biography / Autobiography,Premium,Overdue,5–6,4–7 days,100,6–8 hours,2–3 times,2025-12-25
29,2025-07-19,Isha kunde,Bcom,TY,Self-help / Motivational,Premium,Overdue,5–6,8–14 days,150,6–8 hours,2–3 times,2025-07-19
31,2025-06-23,Kalpesh Patel,Bsc it,SY,Self-help / Motivational,Premium,NaN,1–2,15+ days,0,6–8 hours,4–5 times,2025-06-23
33,2025-08-03,Nisha yadav,Bca,SY,Fiction,Premium,Overdue,3–4,8–14 days,250,6–8 hours,2–3 times,2025-08-03
35,2025-09-09,shreya joshi,baf,SY,Fiction,Premium,Overdue,5–6,4–7 days,200,9+ hours,4–5 times,2025-09-09
36,2025-09-04,Yashshree yadac,Biotechnology,SY,Biography / Autobiography,Premium,Overdue,3–4,4–7 days,250,3–5 hours,2–3 times,2025-09-04
38,2025-09-23,Sidhi,Arts,SY,Historical,Premium,Returned,5–6,4–7 days,100,6–8 hours,4–5 times,2025-09-23
40,2025-11-25,Nikhil,Architecture,SY,Other,Premium,Overdue,3–4,4–7 days,200,6–8 hours,2–3 times,2025-11-25
41,2025-11-20,Saurab,Economic,TY,Academic / Educational,Premium,NaN,7+,4–7 days,100,6–8 hours,4–5 times,2025-11-20
45,2025-02-10,Pranali,Arts,TY,"Self-help / Motivational, Biography / Autobiog...",Premium,Returned,3–4,8–14 days,100,6–8 hours,4–5 times,2025-02-10
47,2025-10-12,Muskan,Science,SY,"Academic / Educational, Fiction, Self-help / M...",Premium,Returned,3–4,4–7 days,100,6–8 hours,4–5 times,2025-10-12
50,2025-08-14,Gaurang patil,Bcom,FY,Fiction,Premium,Overdue,5–6,4–7 days,150,6–8 hours,6+ times,2025-08-14
51,2025-06-15,Perna naik,Baf,SY,Historical,Premium,Returned,5–6,4–7 days,0,3–5 hours,6+ times,2025-06-15
53,2025-12-12,Namita Verma,Bms,SY,Self-help / Motivational,Premium,Overdue,1–2,8–14 days,200,6–8 hours,4–5 times,2025-12-12
55,2025-12-12,Dipak kale,Bcom,TY,Fiction,Premium,Returned,5–6,4–7 days,0,6–8 hours,2–3 times,2025-12-12
58,2025-10-25,Sharmila Tagore,Baf,TY,Fiction,Premium,Overdue,1–2,15+ days,250,9+ hours,6+ times,2025-10-25
60,2025-03-01,Rushikesh Joshi,Bsc cs,SY,Self-help / Motivational,Premium,Overdue,1–2,8–14 days,100,6–8 hours,2–3 times,2025-03-01
61,2025-07-07,Vaibhav yadav,Baf,TY,Fiction,Premium,Overdue,3–4,8–14 days,100,6–8 hours,4–5 times,2025-07-07
62,2025-03-30,Urmila nair,Bsc it,SY,Fiction,Premium,Returned,1–2,4–7 days,0,0–2 hours,0–1 times,2025-03-30
63,2025-08-02,Yuvraj mhatre,Bmmc,FY,Self-help / Motivational,Premium,Overdue,5–6,4–7 days,150,6–8 hours,4–5 times,2025-08-02
64,2025-10-24,Shital niwas,Bcom,TY,Self-help / Motivational,Premium,NaN,3–4,4–7 days,0,3–5 hours,0–1 times,2025-10-24
66,2025-07-10,Kajal Agarwal,Bcs cs,FY,Fiction,Premium,Returned,1–2,0–3 days,0,0–2 hours,2–3 times,2025-07-10
67,2025-03-30,Tirtha kadam,Bcs it,SY,Academic / Educational,Premium,Overdue,3–4,4–7 days,100,3–5 hours,2–3 times,2025-03-30
69,2025-02-17,Krunal karulkar,Bms,TY,Historical,Premium,Overdue,7+,15+ days,250,9+ hours,6+ times,2025-02-17
71,2025-08-12,Satvika gole,Bcom,TY,Fiction,Premium,Overdue,1–2,4–7 days,100,6–8 hours,2–3 times,2025-08-12
72,2025-04-13,Sahil more,Bsc cs,SY,Academic / Educational,Premium,Returned,0,4–7 days,0,0–2 hours,2–3 times,2025-04-13
73,2025-12-28,Usha jha,Bms,FY,Fiction,Premium,NaN,1–2,4–7 days,0,0–2 hours,2–3 times,2025-12-28
76,2025-05-03,Rebecca,Bmmc,TY,Fiction,Premium,Overdue,3–4,0–3 days,200,3–5 hours,4–5 times,2025-05-03
77,2025-08-17,Sai gujar,Bcom,TY,Biography / Autobiography,Premium,Overdue,5–6,8–14 days,200,6–8 hours,4–5 times,2025-08-17
80,2025-07-22,Isha jhadhav,Bca,FY,Self-help / Motivational,Premium,Overdue,5–6,4–7 days,100,3–5 hours,0–1 times,2025-07-22
82,2025-06-27,Omkar shinde,Bcom,SY,Self-help / Motivational,Premium,Overdue,5–6,15+ days,250,6–8 hours,6+ times,2025-06-27
89,2025-10-11,Erica,Bmmc,TY,Self-help / Motivational,Premium,Overdue,5–6,4–7 days,250,6–8 hours,2–3 times,2025-10-11
95,2025-06-18,Pratik pashte,Physiology,SY,Self-help / Motivational,Premium,NaN,1–2,0–3 days,0,0–2 hours,2–3 times,2025-06-18
96,2025-11-05,Ronak Patel,Bsc cs,TY,Biography / Autobiography,Premium,Overdue,1–2,8–14 days,150,3–5 hours,6+ times,2025-11-05
97,2025-02-03,Jatin pawar,Physiology,FY,Historical,Premium,Returned,1–2,4–7 days,0,6–8 hours,2–3 times,2025-02-03
98,2025-02-24,Rushikesh gandhi,Bsc it,FY,Historical,Premium,Overdue,1–2,8–14 days,100,3–5 hours,2–3 times,2025-02-24
100,2025-06-03,Sujay reu,Bsc cs,SY,Academic / Educational,Premium,Returned,1–2,4–7 days,0,0–2 hours,2–3 times,2025-06-03

In [53]:
#7. Count how many students returned the books vs overdue vs none.
df["borrow_status"].value_counts()

borrow_status
Overdue          53
Returned         28
Borrow Status     1
Name: count, dtype: int64

In [65]:
#8. Identify how many days books were kept by extracting numerical values from How Many Days You Kept the Books?
df["days_kept_books"].head(10)

0    How Many Days You Kept the Books ?\n
1                                4–7 days
2                               8–14 days
3                                0–3 days
4                                0–3 days
5                                4–7 days
6                                15+ days
7                                4–7 days
8                               8–14 days
9                                0–3 days
Name: days_kept_books, dtype: object

In [85]:
#9. Standardize the column names (snake_case).
df.columns = [col.strip().lower().replace(' ', '_').replace('/', '_') for col in df.columns]
df.columns

Index(['date_of_joining_library', 'name_of_student', 'department',
       'year_of_study', 'book_genre', 'library_membership_type',
       'borrow_status', 'books_borrowed_per_month', 'days_kept_books',
       'fine_paid_rs', 'study_hours_per_week', 'library_visits_per_week',
       'date_of_joining_library', 'days_kept_numeric'],
      dtype='object')

In [87]:
#10. Extract only numbers from Number of Books Borrowed column.
df['books_borrowed_per_month'] = df['books_borrowed_per_month'].astype(str).str.replace(r'[^\d\-–]', '', regex=True)
df['books_borrowed_per_month'].head(10)

0    356
1    1–2
2    1–3
3    1–4
4    1–5
5    1–6
6    3–4
7    3–4
8    5–6
9    3–4
Name: books_borrowed_per_month, dtype: object

In [89]:
#11. Identify how many days books were kept by extracting numerical values from How Many Days You Kept the Books?

import re
import numpy as np

def replace_range(val):
    if pd.isna(val) or val == '':
        return np.nan
    if '-' in val or '–' in val:
        numbers = re.findall(r'\d+', val)
        numbers = [int(n) for n in numbers]
        return sum(numbers) / len(numbers)
    return float(val)

df['books_borrowed_per_month_numeric'] = df['books_borrowed_per_month'].apply(replace_range)

# Check the first 10 rows
df[['books_borrowed_per_month', 'books_borrowed_per_month_numeric']].head(10)

  books_borrowed_per_month  books_borrowed_per_month_numeric
0                      356                             356.0
1                      1–2                               1.5
2                      1–3                               2.0
3                      1–4                               2.5
4                      1–5                               3.0
5                      1–6                               3.5
6                      3–4                               3.5
7                      3–4                               3.5
8                      5–6                               5.5
9                      3–4                               3.5

In [93]:
#12. List students who visit the library more than 4 times per week.
df['library_visits_numeric'] = df['library_visits_per_week'].astype(str).str.extract(r'(\d+)').astype(float)
frequent_visitors = df[df['library_visits_numeric'] > 4]
frequent_visitors

,date_of_joining_library,name_of_student,department,year_of_study,book_genre,library_membership_type,borrow_status,books_borrowed_per_month,days_kept_books,fine_paid_rs,study_hours_per_week,library_visits_per_week,date_of_joining_library,days_kept_numeric,books_borrowed_per_month_numeric,library_visits_numeric
4,2025-12-10,Kalpana irle,bca,FY,Historical,Standard,Overdue,1–5,0-3 days,150,9+ hours,6+ times,2025-12-10,0.0,3.0,6.0
13,2025-06-26,Xyz,Abc,Other,Other,Premium,NaN,7,15+ days,100,9+ hours,6+ times,2025-06-26,15.0,7.0,6.0
27,2025-03-31,Bhushan kumar,Bsc cs,FY,Historical,Standard,Returned,5–6,4-7 days,0,3–5 hours,6+ times,2025-03-31,4.0,5.5,6.0
42,2025-11-01,Shivani,Manegement,Other,Self-help / Motivational,Standard,Returned,7,8-14 days,150,9+ hours,6+ times,2025-11-01,8.0,7.0,6.0
50,2025-08-14,Gaurang patil,Bcom,FY,Fiction,Premium,Overdue,5–6,4-7 days,150,6–8 hours,6+ times,2025-08-14,4.0,5.5,6.0
51,2025-06-15,Perna naik,Baf,SY,Historical,Premium,Returned,5–6,4-7 days,0,3–5 hours,6+ times,2025-06-15,4.0,5.5,6.0
58,2025-10-25,Sharmila Tagore,Baf,TY,Fiction,Premium,Overdue,1–2,15+ days,250,9+ hours,6+ times,2025-10-25,15.0,1.5,6.0
69,2025-02-17,Krunal karulkar,Bms,TY,Historical,Premium,Overdue,7,15+ days,250,9+ hours,6+ times,2025-02-17,15.0,7.0,6.0
82,2025-06-27,Omkar shinde,Bcom,SY,Self-help / Motivational,Premium,Overdue,5–6,15+ days,250,6–8 hours,6+ times,2025-06-27,15.0,5.5,6.0
92,2025-09-26,Krishika chaudhary,Bms,TY,Historical,Standard,Returned,5–6,0-3 days,0,6–8 hours,6+ times,2025-09-26,0.0,5.5,6.0
96,2025-11-05,Ronak Patel,Bsc cs,TY,Biography / Autobiography,Premium,Overdue,1–2,8-14 days,150,3–5 hours,6+ times,2025-11-05,8.0,1.5,6.0

In [95]:
#13. Display all students who read Self-help / Motivational genre.
self_help_students = df[df['book_genre'].str.lower().str.contains('self-help|motivational', na=False)]
self_help_students

,date_of_joining_library,name_of_student,department,year_of_study,book_genre,library_membership_type,borrow_status,books_borrowed_per_month,days_kept_books,fine_paid_rs,study_hours_per_week,library_visits_per_week,date_of_joining_library,days_kept_numeric,books_borrowed_per_month_numeric,library_visits_numeric
2,2025-10-10,sanika gole,bsc cs,SY,Self-help / Motivational,Premium,Overdue,1–3,8-14 days,100,3–5 hours,2–3 times,2025-10-10,8.0,2.0,2.0
5,2025-12-28,Tushar bhosale,Baf,SY,Self-help / Motivational,Standard,Overdue,1–6,4-7 days,100,3–5 hours,4–5 times,2025-12-28,4.0,3.5,4.0
11,2025-08-16,sakshi mhatre,bca,SY,Self-help / Motivational,Premium,Overdue,5–6,4-7 days,200,6–8 hours,2–3 times,2025-08-16,4.0,5.5,2.0
14,2025-10-12,Farhan shaikh,Bsc it,FY,Self-help / Motivational,Premium,Overdue,3–4,8-14 days,150,6–8 hours,2–3 times,2025-10-12,8.0,3.5,2.0
19,2025-06-30,neha kaur,bms,TY,Self-help / Motivational,Premium,Overdue,1–2,4-7 days,100,3–5 hours,2–3 times,2025-06-30,4.0,1.5,2.0
25,2025-02-23,Bhumi shinde,Bcom,TY,Self-help / Motivational,Premium,Overdue,1–2,8-14 days,200,3–5 hours,0–1 times,2025-02-23,8.0,1.5,0.0
29,2025-07-19,Isha kunde,Bcom,TY,Self-help / Motivational,Premium,Overdue,5–6,8-14 days,150,6–8 hours,2–3 times,2025-07-19,8.0,5.5,2.0
30,2025-10-02,Rahul biwate,Bmmc,TY,Self-help / Motivational,Standard,NaN,5–6,8-14 days,0,6–8 hours,0–1 times,2025-10-02,8.0,5.5,0.0
31,2025-06-23,Kalpesh Patel,Bsc it,SY,Self-help / Motivational,Premium,NaN,1–2,15+ days,0,6–8 hours,4–5 times,2025-06-23,15.0,1.5,4.0
34,2025-10-19,Rutika pawar,Bcom,TY,Self-help / Motivational,Standard,Overdue,5–6,4-7 days,100,6–8 hours,2–3 times,2025-10-19,4.0,5.5,2.0
39,2025-09-29,Namrata,Computer science,FY,Self-help / Motivational,Standard,NaN,1–2,4-7 days,150,6–8 hours,2–3 times,2025-09-29,4.0,1.5,2.0
42,2025-11-01,Shivani,Manegement,Other,Self-help / Motivational,Standard,Returned,7,8-14 days,150,9+ hours,6+ times,2025-11-01,8.0,7.0,6.0
45,2025-02-10,Pranali,Arts,TY,"Self-help / Motivational, Biography / Autobiog...",Premium,Returned,3–4,8-14 days,100,6–8 hours,4–5 times,2025-02-10,8.0,3.5,4.0
47,2025-10-12,Muskan,Science,SY,"Academic / Educational, Fiction, Self-help / M...",Premium,Returned,3–4,4-7 days,100,6–8 hours,4–5 times,2025-10-12,4.0,3.5,4.0
53,2025-12-12,Namita Verma,Bms,SY,Self-help / Motivational,Premium,Overdue,1–2,8-14 days,200,6–8 hours,4–5 times,2025-12-12,8.0,1.5,4.0
60,2025-03-01,Rushikesh Joshi,Bsc cs,SY,Self-help / Motivational,Premium,Overdue,1–2,8-14 days,100,6–8 hours,2–3 times,2025-03-01,8.0,1.5,2.0
63,2025-08-02,Yuvraj mhatre,Bmmc,FY,Self-help / Motivational,Premium,Overdue,5–6,4-7 days,150,6–8 hours,4–5 times,2025-08-02,4.0,5.5,4.0
64,2025-10-24,Shital niwas,Bcom,TY,Self-help / Motivational,Premium,NaN,3–4,4-7 days,0,3–5 hours,0–1 times,2025-10-24,4.0,3.5,0.0
68,2025-09-26,Joshna sawant,Bca,SY,Self-help / Motivational,Standard,Overdue,1–2,0-3 days,100,6–8 hours,4–5 times,2025-09-26,0.0,1.5,4.0
80,2025-07-22,Isha jhadhav,Bca,FY,Self-help / Motivational,Premium,Overdue,5–6,4-7 days,100,3–5 hours,0–1 times,2025-07-22,4.0,5.5,0.0
82,2025-06-27,Omkar shinde,Bcom,SY,Self-help / Motivational,Premium,Overdue,5–6,15+ days,250,6–8 hours,6+ times,2025-06-27,15.0,5.5,6.0
83,2025-12-27,Swapnil,Commerce,SY,"Academic / Educational, Self-help / Motivational",Standard,Returned,1–2,4-7 days,150,3–5 hours,2–3 times,2025-12-27,4.0,1.5,2.0
87,2025-01-07,Bhumika,Commerce,FY,"Academic / Educational, Self-help / Motivational",Standard,Returned,1–2,4-7 days,150,3–5 hours,2–3 times,2025-01-07,4.0,1.5,2.0
89,2025-10-11,Erica,Bmmc,TY,Self-help / Motivational,Premium,Overdue,5–6,4-7 days,250,6–8 hours,2–3 times,2025-10-11,4.0,5.5,2.0
94,2025-10-17,Vipul pashte,Baf,FY,Self-help / Motivational,Standard,NaN,0,0-3 days,0,3–5 hours,0–1 times,2025-10-17,0.0,0.0,0.0
95,2025-06-18,Pratik pashte,Physiology,SY,Self-help / Motivational,Premium,NaN,1–2,0-3 days,0,0–2 hours,2–3 times,2025-06-18,0.0,1.5,2.0

In [97]:
#14. Check for missing or null values.
missing_values = df.isnull().sum()
print("Missing/null values per column:\n", missing_values)

Missing/null values per column:
 date_of_joining_library              1
name_of_student                      9
department                           9
year_of_study                        9
book_genre                           9
library_membership_type              9
borrow_status                       28
books_borrowed_per_month             0
days_kept_books                      0
fine_paid_rs                         9
study_hours_per_week                 9
library_visits_per_week              9
date_of_joining_library              1
days_kept_numeric                   10
books_borrowed_per_month_numeric     9
library_visits_numeric              10
dtype: int64

In [103]:
 #15. Find all students who paid any fine > 0.

df['fine_paid_rs'] = df['fine_paid_rs'].astype(str).str.replace(r'[^\d]', '', regex=True)
# Step 2: Convert to numeric
df['fine_paid_rs'] = pd.to_numeric(df['fine_paid_rs'], errors='coerce')
# Step 3: Filter students who paid any fine > 0
students_with_fine = df[df['fine_paid_rs'] > 0]
students_with_fine

,date_of_joining_library,name_of_student,department,year_of_study,book_genre,library_membership_type,borrow_status,books_borrowed_per_month,days_kept_books,fine_paid_rs,study_hours_per_week,library_visits_per_week,date_of_joining_library,days_kept_numeric,books_borrowed_per_month_numeric,library_visits_numeric
2,2025-10-10,sanika gole,bsc cs,SY,Self-help / Motivational,Premium,Overdue,1–3,8-14 days,100.0,3–5 hours,2–3 times,2025-10-10,8.0,2.0,2.0
4,2025-12-10,Kalpana irle,bca,FY,Historical,Standard,Overdue,1–5,0-3 days,150.0,9+ hours,6+ times,2025-12-10,0.0,3.0,6.0
5,2025-12-28,Tushar bhosale,Baf,SY,Self-help / Motivational,Standard,Overdue,1–6,4-7 days,100.0,3–5 hours,4–5 times,2025-12-28,4.0,3.5,4.0
7,2025-01-19,Rutika pawar,Bsc it,SY,Academic / Educational,Premium,Overdue,3–4,4-7 days,100.0,6–8 hours,0–1 times,2025-01-19,4.0,3.5,0.0
8,2025-07-15,Sonali yewale,Baf,SY,Academic / Educational,Premium,Overdue,5–6,8-14 days,150.0,9+ hours,2–3 times,2025-07-15,8.0,5.5,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2025-01-29,Swaraj khakam,Bcom,SY,Historical,Standard,Overdue,3–4,4-7 days,150.0,3–5 hours,4–5 times,2025-01-29,4.0,3.5,4.0
93,2025-12-02,Trunal tandel,Bsc,SY,Historical,Standard,Overdue,3–4,15+ days,250.0,6–8 hours,2–3 times,2025-12-02,15.0,3.5,2.0
96,2025-11-05,Ronak Patel,Bsc cs,TY,Biography / Autobiography,Premium,Overdue,1–2,8-14 days,150.0,3–5 hours,6+ times,2025-11-05,8.0,1.5,6.0
98,2025-02-24,Rushikesh gandhi,Bsc it,FY,Historical,Premium,Overdue,1–2,8-14 days,100.0,3–5 hours,2–3 times,2025-02-24,8.0,1.5,2.0
99,2025-09-23,Saniya Divakar,Bms,SY,Biography / Autobiography,Standard,Overdue,1–2,8-14 days,200.0,6–8 hours,4–5 times,2025-09-23,8.0,1.5,4.0

In [1]:
#🟧 Intermediate Pandas Analysis Questions (16–30)

In [29]:
import pandas as pd

df = pd.read_excel(r"C:\Users\dell\Downloads\collage library data track .xlsx")

df.head()

,Timestamp,Name of Student (Full Name),Department,Year of study,Book Genre You Usually Read\n,Library Membership Type\n,Borrow Status,"Number of Books you Borrowed in a month (e.g. 3,5,6)\n",How Many Days You Kept the Books ?\n,Fine Paid (₹)\n,Your Average Study Hours in Library Per Week\n,How many times you visit library in a week?
0,Timestamp,Yash surve,Bsc cs,SY,Academic / Educational,Standard,Returned,1–2,4–7 days,0,3–5 hours,2–3 times
1,Timestamp,sanika gole,bsc cs,SY,Self-help / Motivational,Premium,Overdue,1–3,8–14 days,100,3–5 hours,2–3 times
2,Timestamp,saniya koli,bsc it,TY,Historical,Standard,NaN,1–4,0–3 days,0,0–2 hours,4–5 times
3,Timestamp,Kalpana irle,bca,FY,Historical,Standard,Overdue,1–5,0–3 days,150,9+ hours,6+ times
4,Timestamp,Tushar bhosale,Baf,SY,Self-help / Motivational,Standard,Overdue,1–6,4–7 days,100,3–5 hours,4–5 times

In [31]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "")
    .str.replace(")", "")
)

In [33]:
df.columns

Index(['timestamp', 'name_of_student_full_name', 'department', 'year_of_study',
       'book_genre_you_usually_read', 'library_membership_type',
       'borrow_status', 'number_of_books_you_borrowed_in_a_month_e.g._3,5,6',
       'how_many_days_you_kept_the_books_?', 'fine_paid__₹',
       'your_average_study_hours_in_library_per_week',
       'how_many_times_you_visit_library_in_a_week?'],
      dtype='object')

In [35]:
#16. Group by Department and calculate the average number of books borrowed.
df.groupby("department").size()

department
 psychology           1
Abc                   1
Architecture          1
Arts                  2
Ba                    1
Baf                   8
Bca                   6
Bcom                 12
Bcs cs                1
Bcs it                1
Biotechnology         2
Bmmc                  3
Bmmc                  1
Bms                  10
Bsc                   4
Bsc                   1
Bsc cs                7
Bsc cs                1
Bsc it                8
Bsc it                4
Chemistry             1
Commerce              4
Computer science      2
Economic              1
Economics             1
Manegement            1
Nursing               1
Physiology            2
Science               2
baf                   2
bca                   3
bms                   1
bsc                   1
bsc cs                1
bsc cs                1
bsc it                1
dtype: int64

In [204]:

df["books_borrowed_numeric"] = pd.to_numeric(
    df["number_of_books_you_borrowed_in_a_month_e.g._3,5,6"],
    errors="coerce"
)
df.groupby("department")["books_borrowed_numeric"].mean()

department
 psychology          NaN
Abc                  NaN
Architecture         NaN
Arts                 NaN
Ba                   NaN
Baf                  0.0
Bca                  NaN
Bcom                 NaN
Bcs cs               NaN
Bcs it               NaN
Biotechnology        NaN
Bmmc                 NaN
Bmmc                 NaN
Bms                  0.0
Bsc                  0.0
Bsc                  NaN
Bsc cs               0.0
Bsc cs               NaN
Bsc it               NaN
Bsc it               NaN
Chemistry            NaN
Commerce             NaN
Computer science     NaN
Economic             NaN
Economics            NaN
Manegement           NaN
Nursing              NaN
Physiology           NaN
Science              NaN
baf                  NaN
bca                  NaN
bms                  NaN
bsc                  NaN
bsc cs               NaN
bsc cs               NaN
bsc it               NaN
Name: books_borrowed_numeric, dtype: float64

In [41]:
df.groupby("department")["books_borrowed_numeric"].mean()

department
 psychology          5.000000
Abc                  7.000000
Architecture         3.000000
Arts                 4.000000
Ba                   5.000000
Baf                  3.125000
Bca                  3.666667
Bcom                 3.500000
Bcs cs               1.000000
Bcs it               3.000000
Biotechnology        3.000000
Bmmc                 4.333333
Bmmc                 5.000000
Bms                  2.700000
Bsc                  2.250000
Bsc                  1.000000
Bsc cs               2.000000
Bsc cs               1.000000
Bsc it               2.250000
Bsc it               2.500000
Chemistry            1.000000
Commerce             1.500000
Computer science     1.000000
Economic             7.000000
Economics            1.000000
Manegement           7.000000
Nursing              1.000000
Physiology           1.000000
Science              2.000000
baf                  4.000000
bca                  4.333333
bms                  1.000000
bsc                  3.000000
bsc cs               1.000000
bsc cs               5.000000
bsc it               1.000000
Name: books_borrowed_numeric, dtype: float64

In [202]:
#17. Group by Book Genre and find the total fine collected.
df["fine_paid_numeric"] = pd.to_numeric(df["fine_paid__₹"], errors="coerce")
df.groupby("book_genre_you_usually_read")["fine_paid_numeric"].sum()

book_genre_you_usually_read
Academic / Educational                                                                  1150.0
Academic / Educational, Biography / Autobiography                                        250.0
Academic / Educational, Fiction, Self-help / Motivational, Biography / Autobiography     100.0
Academic / Educational, Historical                                                       200.0
Academic / Educational, Self-help / Motivational                                         300.0
Biography / Autobiography                                                               1150.0
Fiction                                                                                 1650.0
Fiction, Biography / Autobiography, Historical                                           100.0
Fiction, Historical                                                                      150.0
Historical                                                                              2120.0
Other                                                                                    350.0
Self-help / Motivational                                                                2550.0
Self-help / Motivational, Biography / Autobiography                                      100.0
Name: fine_paid_numeric, dtype: float64

In [46]:
#18. Find the maximum and minimum number of study hours per week.
df["study_hours_numeric"].agg(["min","max"])

min    0.0
max    9.0
Name: study_hours_numeric, dtype: float64

In [48]:
#19. Compare: Students with Standard vs Premium library membership – who borrowed more books?
df.groupby("library_membership_type")["books_borrowed_numeric"].mean()

library_membership_type
Premium     3.176471
Standard    2.571429
Name: books_borrowed_numeric, dtype: float64

In [50]:
#20. Calculate the range of days kept for each borrow status (Returned, Overdue, None).
df.groupby("borrow_status")["days_kept_numeric"].apply(lambda x: x.max() - x.min())

borrow_status
Overdue     15.0
Returned    15.0
Name: days_kept_numeric, dtype: float64

In [200]:
#21. Group by Year of Study and find the average fine paid.
df["fine_paid_numeric"] = pd.to_numeric(df["fine_paid__₹"], errors="coerce")
df.groupby("year_of_study")["fine_paid_numeric"].mean()

year_of_study
FY        90.000000
Other    150.000000
SY       109.756098
TY       102.187500
Name: fine_paid_numeric, dtype: float64

In [54]:
#22. Determine which genre is most popular among FY/SY/TY students.
df.groupby(["year_of_study","book_genre_you_usually_read"]).size().sort_values(ascending=False)

year_of_study  book_genre_you_usually_read
SY             Academic / Educational                                                                  10
               Self-help / Motivational                                                                 9
TY             Fiction                                                                                  8
SY             Historical                                                                               7
TY             Self-help / Motivational                                                                 7
               Historical                                                                               7
               Biography / Autobiography                                                                6
FY             Historical                                                                               6
               Self-help / Motivational                                                                 5
               Fiction                                                                                  5
SY             Fiction                                                                                  5
TY             Academic / Educational                                                                   3
SY             Biography / Autobiography                                                                3
FY             Biography / Autobiography                                                                3
SY             Other                                                                                    2
               Academic / Educational, Biography / Autobiography                                        2
FY             Academic / Educational, Historical                                                       2
               Academic / Educational                                                                   2
SY             Academic / Educational, Self-help / Motivational                                         1
               Fiction, Historical                                                                      1
               Academic / Educational, Fiction, Self-help / Motivational, Biography / Autobiography     1
Other          Self-help / Motivational                                                                 1
               Other                                                                                    1
FY             Fiction, Biography / Autobiography, Historical                                           1
               Academic / Educational, Self-help / Motivational                                         1
TY             Self-help / Motivational, Biography / Autobiography                                      1
dtype: int64

In [198]:
#23. Sort students by fine paid in descending order.
df["fine_paid_numeric"] = pd.to_numeric(df["fine_paid__₹"], errors="coerce")
df_sorted = df.sort_values("fine_paid_numeric", ascending=False)[
    ["name_of_student_full_name", "fine_paid_numeric"]
]

df_sorted.head()

   name_of_student_full_name  fine_paid_numeric
16                  om pawar              250.0
81             Omkar shinde               250.0
68           Krunal karulkar              250.0
57          Sharmila Tagore               250.0
88                    Erica               250.0

In [58]:
#24.  Find the number of students who kept books for more than 7 days.
df[df["days_kept_numeric"] > 7].shape[0]

34

In [60]:
#25. Extract numeric values from study hours per week and convert to integer.
df["study_hours_numeric"]

0      3.0
1      3.0
2      0.0
3      9.0
4      3.0
      ...
104    NaN
105    NaN
106    NaN
107    NaN
108    NaN
Name: study_hours_numeric, Length: 109, dtype: float64

In [62]:
#26. Compare visiting frequency between Standard and Premium members.
df.groupby("library_membership_type")["library_visits_numeric"].mean()

library_membership_type
Premium     2.784314
Standard    2.285714
Name: library_visits_numeric, dtype: float64

In [64]:
#27. Identify students who borrowed 5 or more books in a month.
df[df["books_borrowed_numeric"] >= 5][["name_of_student_full_name","books_borrowed_numeric"]]

   name_of_student_full_name  books_borrowed_numeric
7             Sonali yewale                      5.0
9              Sushant lohar                     5.0
10             sakshi mhatre                     5.0
11          Vedika sonawane                      5.0
12                       Xyz                     7.0
14                Priya gore                     5.0
16                  om pawar                     7.0
19            vikarant patil                     5.0
22              Jyoti shinde                     5.0
26             Bhushan kumar                     5.0
27             Vishal pashte                     5.0
28                Isha kunde                     5.0
29              Rahul biwate                     5.0
31                 Riya irle                     5.0
33             Rutika pawar                      5.0
34              shreya joshi                     5.0
37                    Sidhi                      5.0
40                   Saurab                      7.0
41                   Shivani                     7.0
49             Gaurang patil                     5.0
50                Perna naik                     5.0
54                Dipak kale                     5.0
58               Ashish kale                     5.0
62             Yuvraj mhatre                     5.0
64             Mohit Rathod                      5.0
68           Krunal karulkar                     7.0
74               Yash kamble                     5.0
76                 Sai gujar                     5.0
79              Isha jhadhav                     5.0
81             Omkar shinde                      5.0
88                    Erica                      5.0
89                Om Shanti                      5.0
91       Krishika chaudhary                      5.0

In [196]:
#28. Calculate correlation between:
• fine paid
• number of books borrowed
• days kept
import pandas as pd
import numpy as np
df["fine_paid_numeric"] = pd.to_numeric(df["fine_paid__₹"], errors="coerce")

def range_to_median(x):
    if pd.isna(x):
        return np.nan
    x = str(x).replace('–','-').replace(' ','')  # handle en-dash and spaces
    parts = x.split('-')
    nums = [float(p) for p in parts if p.isdigit()]
    return np.median(nums) if nums else np.nan

df["books_borrowed_numeric"] = df["number_of_books_you_borrowed_in_a_month_e.g._3,5,6"].apply(range_to_median)
df["days_kept_numeric"] = df["how_many_days_you_kept_the_books_?"].apply(range_to_median)

df[["fine_paid_numeric","books_borrowed_numeric","days_kept_numeric"]].corr()

,fine_paid_numeric,books_borrowed_numeric,days_kept_numeric
fine_paid_numeric,1.000000,0.290422,0.383304
books_borrowed_numeric,0.290422,1.000000,0.096578
days_kept_numeric,0.383304,0.096578,1.000000

In [192]:
#29. Count how many students borrowed books in each month of 2025.
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")   
df_2025 = df[df["timestamp"].dt.year == 2025]
# Group by month number (1-12) and count
monthly_new_members = df_2025.groupby(df_2025["timestamp"].dt.month).size()
monthly_new_members

timestamp
8      8
9     30
10    31
11    16
dtype: int64

In [70]:
#30 .Create a pivot table:
Genre vs Borrow Status (count of students)
pd.pivot_table(
    df,
    index="book_genre_you_usually_read",
    columns="borrow_status",
    values="name_of_student_full_name",
    aggfunc="count"
)

borrow_status                                       Overdue  Returned
book_genre_you_usually_read
Academic / Educational                                  7.0       5.0
Academic / Educational, Biography / Autobiography       NaN       1.0
Academic / Educational, Fiction, Self-help / Mo...      NaN       1.0
Academic / Educational, Historical                      NaN       1.0
Academic / Educational, Self-help / Motivational        NaN       2.0
Biography / Autobiography                               7.0       2.0
Fiction                                                10.0       5.0
Fiction, Biography / Autobiography, Historical          NaN       1.0
Fiction, Historical                                     1.0       NaN
Historical                                             12.0       7.0
Other                                                   1.0       1.0
Self-help / Motivational                               15.0       1.0
Self-help / Motivational, Biography / Autobiogr...      NaN       1.0

In [72]:
#🟥 Advanced Pandas Analysis Questions (31–50)
(Text extraction, date engineering, numeric cleaning, classification)

In [130]:
print(df.columns.tolist())

['timestamp', 'name_of_student_full_name', 'department', 'year_of_study', 'book_genre_you_usually_read', 'library_membership_type', 'borrow_status', 'number_of_books_you_borrowed_in_a_month_e.g._3,5,6', 'how_many_days_you_kept_the_books_?', 'fine_paid__₹', 'your_average_study_hours_in_library_per_week', 'how_many_times_you_visit_library_in_a_week?', 'books_borrowed_numeric', 'days_kept_numeric', 'study_hours_numeric', 'library_visits_numeric', 'first_name', 'visit_freq', 'study_hours', 'books_borrowed', 'Usage_Level', 'High_Frequency_Predict']

In [132]:
#31. Extract only the first name from “Name of Student (Full Name)”.
df[["timestamp","name_of_student_full_name"]].head()

   timestamp name_of_student_full_name
0  Timestamp                Yash surve
1  Timestamp               sanika gole
2  Timestamp               saniya koli
3  Timestamp              Kalpana irle
4  Timestamp           Tushar bhosale

In [214]:
#32. Create a new column Borrow_Duration_Category:
# Short (0–3 days)
# Medium (4–7 days)
# Long (8+ days)

df["Borrow_Duration_Category"] = pd.cut(
    pd.to_numeric(
        df["how_many_days_you_kept_the_books_?"].str.extract(r'(\d+)')[0],
        errors="coerce"
    ),
    bins=[-1,3,7,100],
    labels=["Short","Medium","Long"]
)

In [138]:
df[["how_many_days_you_kept_the_books_?","Borrow_Duration_Category"]].head()

  how_many_days_you_kept_the_books_? Borrow_Duration_Category
0                           4–7 days                   Medium
1                          8–14 days                     Long
2                           0–3 days                    Short
3                           0–3 days                    Short
4                           4–7 days                   Medium

In [142]:
#33. Clean and convert How many times you visit library per week? into numeric.
df["visit_freq"] = pd.to_numeric(
    df["how_many_times_you_visit_library_in_a_week?"].astype(str).str.extract(r'(\d+)')[0],
    errors="coerce"
)

In [144]:
df[["how_many_times_you_visit_library_in_a_week?","visit_freq"]].head()

  how_many_times_you_visit_library_in_a_week?  visit_freq
0                                   2–3 times         2.0
1                                   2–3 times         2.0
2                                   4–5 times         4.0
3                                    6+ times         6.0
4                                   4–5 times         4.0

In [152]:
#34. Clean “Average Study Hours per Week” column and convert into numeric values.
df["study_hours"] = pd.to_numeric(
    df["your_average_study_hours_in_library_per_week"]
        .astype(str)
        .str.extract(r'(\d+)')[0],
    errors="coerce"
)

In [154]:
df[["your_average_study_hours_in_library_per_week","study_hours"]].head()

  your_average_study_hours_in_library_per_week  study_hours
0                                    3–5 hours          3.0
1                                    3–5 hours          3.0
2                                    0–2 hours          0.0
3                                     9+ hours          9.0
4                                    3–5 hours          3.0

In [156]:

#35. Find whether students who visit library more often also borrow more books.
df["books_borrowed"] = pd.to_numeric(
    df["number_of_books_you_borrowed_in_a_month_e.g._3,5,6"]
        .astype(str)
        .str.extract(r'(\d+)')[0],
    errors="coerce"
)

In [158]:
df[["number_of_books_you_borrowed_in_a_month_e.g._3,5,6","books_borrowed"]].head()

  number_of_books_you_borrowed_in_a_month_e.g._3,5,6  books_borrowed
0                                                1–2             1.0
1                                                1–3             1.0
2                                                1–4             1.0
3                                                1–5             1.0
4                                                1–6             1.0

In [160]:
#36. Find the percentage of students who paid a fine.
df["fine_paid_numeric"] = pd.to_numeric(
    df["fine_paid__₹"].astype(str),
    errors="coerce"
)

df[["fine_paid__₹","fine_paid_numeric"]].head()

  fine_paid__₹  fine_paid_numeric
0            0                0.0
1          100              100.0
2            0                0.0
3          150              150.0
4          100              100.0

In [162]:
#37. Add a new column Is_Fined (True/False).

# Convert number of books borrowed
df["books_borrowed"] = pd.to_numeric(
    df["number_of_books_you_borrowed_in_a_month_e.g._3,5,6"]
        .astype(str)
        .str.extract(r'(\d+)')[0],
    errors="coerce"
)
# Convert library visit frequency
df["visit_freq"] = pd.to_numeric(
    df["how_many_times_you_visit_library_in_a_week?"]
        .astype(str)
        .str.extract(r'(\d+)')[0],
    errors="coerce"
)
# Convert study hours
df["study_hours"] = pd.to_numeric(
    df["your_average_study_hours_in_library_per_week"]
        .astype(str)
        .str.extract(r'(\d+)')[0],
    errors="coerce"
)

# Convert fine paid
df["fine_paid_numeric"] = pd.to_numeric(
    df["fine_paid__₹"].astype(str),
    errors="coerce"
)

# Create Is_Fined column
df["Is_Fined"] = df["fine_paid_numeric"] > 0

# Calculate percentage of students who paid fine
fine_percentage = round(df["Is_Fined"].mean() * 100, 2)

df[["books_borrowed","visit_freq","study_hours","fine_paid_numeric","Is_Fined"]].head(), fine_percentage

(   books_borrowed  visit_freq  study_hours  fine_paid_numeric  Is_Fined
 0             1.0         2.0          3.0                0.0     False
 1             1.0         2.0          3.0              100.0      True
 2             1.0         4.0          0.0                0.0     False
 3             1.0         6.0          9.0              150.0      True
 4             1.0         4.0          3.0              100.0      True,
 62.39)

In [164]:
#38. Identify whether Premium students pay more fines than Standard members.
df.groupby("library_membership_type")["fine_paid_numeric"].mean()

library_membership_type
Premium     116.000000
Standard     89.183673
Name: fine_paid_numeric, dtype: float64

In [190]:
#39.  Group by Genre and calculate:
# average books borrowed
# average study hours

import numpy as np
def range_to_median(x):
    if pd.isna(x):
        return np.nan
    x = str(x).replace('–','-').replace(' ','')  # handle en-dash or spaces
    parts = x.split('-')
    nums = [float(p) for p in parts if p.isdigit()]
    return np.median(nums) if nums else np.nan

df["books_borrowed"] = df["number_of_books_you_borrowed_in_a_month_e.g._3,5,6"].apply(range_to_median)

df["study_hours"] = pd.to_numeric(
    df["your_average_study_hours_in_library_per_week"].astype(str).str.extract(r'(\d+)')[0],
    errors="coerce"
)
# Now group by genre
df.groupby("book_genre_you_usually_read")[["books_borrowed","study_hours"]].mean()

,books_borrowed,study_hours
book_genre_you_usually_read,,
Academic / Educational,2.857143,4.000000
"Academic / Educational, Biography / Autobiography",1.500000,1.500000
"Academic / Educational, Fiction, Self-help / Motivational, Biography / Autobiography",3.500000,6.000000
"Academic / Educational, Historical",2.500000,1.500000
"Academic / Educational, Self-help / Motivational",1.500000,3.000000
Biography / Autobiography,2.708333,4.000000
Fiction,3.500000,4.500000
"Fiction, Biography / Autobiography, Historical",1.500000,3.000000
"Fiction, Historical",1.500000,3.000000
Historical,3.972222,4.650000
Other,3.500000,6.000000
Self-help / Motivational,3.261905,4.909091
"Self-help / Motivational, Biography / Autobiography",3.500000,6.000000

In [188]:
#40. Convert book ranges (1–2, 3–4) into median values and create a boxplot-ready numeric column.

import numpy as np

def range_to_median(x):
    if pd.isna(x):
        return np.nan
    x = str(x).replace('–','-').replace(' ','')  # replace en-dash / spaces
    parts = x.split('-')
    try:
        nums = [float(p) for p in parts if p.isdigit()]
        return np.median(nums) if nums else np.nan
    except:
        return np.nan

df["books_borrowed"] = df["number_of_books_you_borrowed_in_a_month_e.g._3,5,6"].apply(range_to_median)

df[["number_of_books_you_borrowed_in_a_month_e.g._3,5,6","books_borrowed"]].head()

  number_of_books_you_borrowed_in_a_month_e.g._3,5,6  books_borrowed
0                                                1–2             1.5
1                                                1–3             2.0
2                                                1–4             2.5
3                                                1–5             3.0
4                                                1–6             3.5

In [234]:
#41. Identify students who kept books longer than 10 days AND paid fine.
df["days_kept_numeric"] = pd.to_numeric(
    df["how_many_days_you_kept_the_books_?"].astype(str).str.extract(r'(\d+)')[0],
    errors="coerce"
)
# Filter students who kept books >10 days AND paid fine
long_kept_fined = df[
    (df["days_kept_numeric"] > 10) &
    (df["Is_Fined"])
]
long_kept_fined[["name_of_student_full_name","days_kept_numeric","fine_paid_numeric","Is_Fined"]]

   name_of_student_full_name  days_kept_numeric  fine_paid_numeric  Is_Fined
25              Kishan yadav               15.0              100.0      True
31                 Riya irle               15.0              250.0      True
57          Sharmila Tagore                15.0              250.0      True
68           Krunal karulkar               15.0              250.0      True
81             Omkar shinde                15.0              250.0      True
92            Trunal tandel                15.0              250.0      True

In [232]:
#42.  Create a new column Usage_Level based on:
# Study hours
# Visit frequency

df["Usage_Level"] = pd.cut(
    df["study_hours"].fillna(0) + df["visit_freq"].fillna(0),
    bins=[-1,6,12,100],
    labels=["Low","Medium","High"]
)
df[["study_hours","visit_freq","Usage_Level"]].head()

   study_hours  visit_freq Usage_Level
0          3.0         2.0         Low
1          3.0         2.0         Low
2          0.0         4.0         Low
3          9.0         6.0        High
4          3.0         4.0      Medium

In [114]:
#43. Find if Historical readers study more hours than Fiction readers.
df[df["book_genre_you_usually_read"].isin(["Historical","Fiction"])] \
    .groupby("book_genre_you_usually_read")["study_hours"].mean()

book_genre_you_usually_read
Fiction       4.50
Historical    4.65
Name: study_hours, dtype: float64

In [182]:
#44. Group by joining month (Jan–Dec) and count number of new members
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")
df["Join_Month"] = df["timestamp"].dt.month_name()
# Count new members per month
df.groupby("Join_Month").size()

Join_Month
August        8
November     16
October      31
September    30
dtype: int64

In [172]:
#45. Rank all students by:
# Fine Paid
# Books Borrowed

df["fine_paid_numeric"] = pd.to_numeric(df["fine_paid__₹"].astype(str), errors="coerce")
df["books_borrowed"] = pd.to_numeric(
    df["number_of_books_you_borrowed_in_a_month_e.g._3,5,6"].astype(str).str.extract(r'(\d+)')[0],
    errors="coerce"
)
df["Fine_Rank"] = df["fine_paid_numeric"].rank(ascending=False)
df["Books_Rank"] = df["books_borrowed"].rank(ascending=False)

df[["fine_paid_numeric","Fine_Rank","books_borrowed","Books_Rank"]].head()

   fine_paid_numeric  Fine_Rank  books_borrowed  Books_Rank
0                0.0       84.0             1.0        77.5
1              100.0       54.5             1.0        77.5
2                0.0       84.0             1.0        77.5
3              150.0       29.5             1.0        77.5
4              100.0       54.5             1.0        77.5

In [228]:
#46. Create a column Late_Return_Risk based on: 
# Study hours
#Visiting frequency
# Books borrowed
days_kept = pd.to_numeric(
    df["how_many_days_you_kept_the_books_?"].astype(str).str.extract(r'(\d+)')[0],
    errors="coerce"
)
df["Late_Return_Risk"] = (
    (df["borrow_status"] == "Overdue") &
    (df["books_borrowed"] > 3) &
    (days_kept > 7)
)
df[["borrow_status","books_borrowed","how_many_days_you_kept_the_books_?","Late_Return_Risk"]].head()

,borrow_status,books_borrowed,how_many_days_you_kept_the_books_?,Late_Return_Risk
0,Returned,1.5,4–7 days,False
1,Overdue,2.0,8–14 days,False
2,NaN,2.5,0–3 days,False
3,Overdue,3.0,0–3 days,False
4,Overdue,3.5,4–7 days,False

In [124]:
#48. Compare FY vs SY vs TY in:
# Study hours
# Visiting frequency
# Books borrowed
df.groupby("year_of_study")[["study_hours","visit_freq","books_borrowed"]].mean()

               study_hours  visit_freq  books_borrowed
year_of_study
FY                3.600000    2.160000            2.50
Other             9.000000    6.000000            7.00
SY                4.170732    2.487805            2.65
TY                4.968750    2.687500            3.60

In [168]:
#49.  Calculate cumulative total fine collected month-wise.
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")
df["Join_Month"] = df["timestamp"].dt.month_name()
df.groupby("Join_Month")["fine_paid_numeric"].sum().cumsum()

Join_Month
August        800.0
November     1250.0
October      4600.0
September    7900.0
Name: fine_paid_numeric, dtype: float64

In [220]:
#50. Predict (rule-based, not ML): Which students are likely to become high-frequency borrowers based on past behavior.
df["High_Frequency_Predict"] = (
    (df["library_visits_numeric"] >= 4) &
    (df["books_borrowed_numeric"] >= 4)
)

In [222]:
df["High_Frequency_Predict"].value_counts()

High_Frequency_Predict
False    92
True     17
Name: count, dtype: int64